h2 Lighthouse (version #{pageInfo.data.lighthouse.pageSummary.lighthouseVersion})

div(style='position:relative;padding-top:56.25%;')
  iframe(src='./data/lighthouse.html', frameborder='0', allowfullscreen='', style='position:absolute;top:0;left:0;width:100%;height:100%;')

